{
	"parser": "babel-eslint",
	"ecmaFeatures": {
		"modules": true,
		"classes": true,
		"jsx": true
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jasmine": true
	},
	"rules": {
		"brace-style": [
			2,
			"1tbs"
		],
		"comma-style": [
			2,
			"last"
		],
		"curly": [
			2,
			"all"
		],
		"dot-location": [
			2,
			"property"
		],
		"dot-notation": 0,
		"eol-last": 0,
		"guard-for-in": 2,
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"max-len": [
			2,
			120,
			4
		],
		"no-dupe-args": 2,
		"no-eq-null": 2,
		"no-lonely-if": 0,
		"no-multi-spaces": 0,
		"no-multi-str": 2,
		"no-mixed-spaces-and-tabs": [
			2,
			"smart-tabs"
		],
		"no-multiple-empty-lines": [
			2,
			{
				"max": 1
			}
		],
		"no-nested-ternary": 2,
		"no-new": 0,
		"no-path-concat": 0,
		"no-self-compare": 2,
		"no-shadow": 0,
		"no-throw-literal": 2,
		"no-trailing-spaces": [
			2,
			{
				"skipBlankLines": true
			}
		],
		"no-undef": 0,
		"no-underscore-dangle": 0,
		"no-unneeded-ternary": 2,
		"no-unused-vars": 0,
		"no-use-before-define": [
			2,
			"nofunc"
		],
		"object-curly-spacing": [
			2,
			"never"
		],
		"computed-property-spacing": [
			2,
			"never"
		],
		"array-bracket-spacing": [
			2,
			"never"
		],
		"one-var": [
			2,
			"never"
		],
		"operator-linebreak": [
			2,
			"after"
		],
		"padded-blocks": [
			2,
			"never"
		],
		"quotes": [
			2,
			"single"
		],
		"radix": 2,
		"semi": 2,
		"space-after-keywords": [
			2,
			"always"
		],
		"space-before-blocks": [
			2,
			"always"
		],
		"space-before-function-paren": [
			2,
			{
				"anonymous": "never",
				"named": "never"
			}
		],
		"space-in-parens": [
			2,
			"never"
		],
		"valid-jsdoc": [
			2,
			{
				"prefer": {
					"return": "return"
				},
				"requireParamDescription": false,
				"requireReturn": false,
				"requireReturnDescription": false
			}
		]
	}
}
